<h3 class='subheader homepage-heading'>Add a new user</h3>
<% if notice %>
  <div class="notice">
    <%= notice %>
  </div>
<% end %>
<%= form_for(@new_user) do |f| %>
  <% if @new_user.errors.any? %>
    <div>
      <ul class="error-explanation">
      <% @new_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field left">
    <%= f.text_field :name, placeholder: 'name' %>
  </div>
  <div class="field left">
    &nbsp;
  </div>
  <div class="actions left">
    <%= f.submit 'Add', class: 'button round small' %>
  </div>
<% end %>