<div class="row justified-row">
  <p><%=link_to 'Audit Rails', 'https://github.com/gouravtiwari/audit_rails' %> is an auditor for your rails application and much more!</p>
</div>
<div class="row justified-row">
  <div id='visitor-count' class="visitors-row" data-count-total='<%= @visitor_count %>' data-label-total='Total Visitors' data-count-unique='<%= @unique_visitor_count %>' data-label-unique='Unique Visitors'></div>
</div>
<div class="row">
  <div class="col-lg-6">
    <h3 class="subheader">Features</h3>
    <ul>
      <li>
        Track few or all user actions, (not just activerecord cruds!)
      </li>
      <li>
        Track outgoing links
      </li>
      <li>
        Download report for user actions (<%= link_to 'Sample audit report', audit_rails.analytics_audits_url(commit: "Download Filtered Report") %>) or
      </li>
      <li>
        See user actions in <%= link_to 'Cool Analytics', audit_rails.analytics_audits_url %>!
      </li>
    </ul>
  </div>
  <div class="col-lg-6">
    <h3 class="subheader">2 mins demo, in 3 steps!</h3>
    <div class='footnote'>TLDR; (move to Step#3 directly!)</div>
    <ul>
      <li>
        <% unless @current_user %>
          <%= render partial: 'user_selection' %>
        <% else %>
          <%= 'Already logged in! Move to Step#2 & Step#3' if @current_user %>
        <% end %>
      </li>
      <li>
        Perform CRUD operations
      </li>
      <li>
        Explore <%= link_to 'Cool Analytics', audit_rails.analytics_audits_url %>!
      </li>
    </ul>  
  </div>
</div>
