<div class="small-4">
  <h3>Posts</h3>
  <%= link_to 'Add new post', new_post_path %>
</div>
<br/>
<br/>
<div class="small-4">
  <ol>
    <% @posts.each do |post| %>
      <li>
        <ul class="no-bullet">
          <li><%= link_to post.name, post %></li>
          <li><%= post.description %></li>
          <li><%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' }%></li>
          
        </ul>
      </li>
    <% end %>
  </ol>
<br>


