<!DOCTYPE html>
  <head>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "AuditRailsExample" %></title>

  	<%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top header-container" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <a class="brand" href="/"> <%= image_tag 'logo.png'%></a>
        </div>
        <div class="navbar-collapse collapse navbar-bottom">
          <ul class="nav navbar-nav">
            <li class="<%= selected('home') %>">
              <%= link_to 'Home', '/' %>
            </li>
            <li>
              <%= link_to 'Analytics', audit_rails.analytics_audits_url %>
            </li>
            <%= render partial: 'layouts/current_user_tabs' if @current_user %>
          </ul>
        </div><!--/.nav-collapse -->
        <a href="https://github.com/gouravtiwari/audit_rails/fork"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 10000;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
      </div>
    </div>
    <div class='container content'>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
    <div class='footer-container'>
      <div class='footer container'>
        Copyright 2014 © Audit Rails
      </div>
    </div>
  </body>
</html>
